<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCardTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                 
                    <h:outputLabel value="#{bundle.CreateCardLabel_cardNumber}" for="cardNumber" />
                    <h:inputText id="cardNumber" value="#{cardController.selected.cardNumber}" title="#{bundle.CreateCardTitle_cardNumber}" required="true" requiredMessage="#{bundle.CreateCardRequiredMessage_cardNumber}"/>
                  
                    <h:outputLabel value="#{bundle.CreateCardLabel_activatedDate}" for="activatedDate" />
                    <h:inputText id="activatedDate" value="#{cardController.selected.activatedDate}" title="#{bundle.CreateCardTitle_activatedDate}" required="true" requiredMessage="#{bundle.CreateCardRequiredMessage_activatedDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCardLabel_expiryDate}" for="expiryDate" />
                    <h:inputText id="expiryDate" value="#{cardController.selected.expiryDate}" title="#{bundle.CreateCardTitle_expiryDate}" required="true" requiredMessage="#{bundle.CreateCardRequiredMessage_expiryDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCardLabel_availableBalance}" for="availableBalance" />
                    <h:inputText id="availableBalance" value="#{cardController.selected.availableBalance}" title="#{bundle.CreateCardTitle_availableBalance}" required="true" requiredMessage="#{bundle.CreateCardRequiredMessage_availableBalance}"/>
                    
                    <h:outputLabel value="Card Type" for="primarySecondaryFlag" />
                    <h:selectOneMenu value="#{cardController.selected.primarySecondaryFlag}" required="true" requiredMessage="Card Type must be selected">
   			<f:selectItems value="#{cardController.cardType}" />
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cardController.create}" value="#{bundle.CreateCardSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{cardController.prepareList}" value="#{bundle.CreateCardShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCardIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
