<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCardTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCardLabel_cardId}" for="cardId" />
                    <h:inputText id="cardId" value="#{cardController.selected.cardId}" title="#{bundle.EditCardTitle_cardId}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_cardId}"/>
                    <h:outputLabel value="#{bundle.EditCardLabel_cardNumber}" for="cardNumber" />
                    <h:inputText id="cardNumber" value="#{cardController.selected.cardNumber}" title="#{bundle.EditCardTitle_cardNumber}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_cardNumber}"/>
                    <h:outputLabel value="#{bundle.EditCardLabel_status}" for="status" />
                    <h:inputText id="status" value="#{cardController.selected.status}" title="#{bundle.EditCardTitle_status}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditCardLabel_createdDate}" for="createdDate" />
                    <h:inputText id="createdDate" value="#{cardController.selected.createdDate}" title="#{bundle.EditCardTitle_createdDate}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_createdDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCardLabel_activatedDate}" for="activatedDate" />
                    <h:inputText id="activatedDate" value="#{cardController.selected.activatedDate}" title="#{bundle.EditCardTitle_activatedDate}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_activatedDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCardLabel_primarySecondaryFlag}" for="primarySecondaryFlag" />
                    <h:inputText id="primarySecondaryFlag" value="#{cardController.selected.primarySecondaryFlag}" title="#{bundle.EditCardTitle_primarySecondaryFlag}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_primarySecondaryFlag}"/>
                    <h:outputLabel value="#{bundle.EditCardLabel_expiryDate}" for="expiryDate" />
                    <h:inputText id="expiryDate" value="#{cardController.selected.expiryDate}" title="#{bundle.EditCardTitle_expiryDate}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_expiryDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCardLabel_availableBalance}" for="availableBalance" />
                    <h:inputText id="availableBalance" value="#{cardController.selected.availableBalance}" title="#{bundle.EditCardTitle_availableBalance}" required="true" requiredMessage="#{bundle.EditCardRequiredMessage_availableBalance}"/>
                </h:panelGrid>
                <h:commandLink action="#{cardController.update}" value="#{bundle.EditCardSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCardViewLink}"/>
                <br />
                <h:commandLink action="#{cardController.prepareList}" value="#{bundle.EditCardShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCardIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
