<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCardTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCardEmpty}" rendered="#{cardController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cardController.items.rowCount > 0}">
                    <h:outputText value="#{cardController.pagination.pageFirstItem + 1}..#{cardController.pagination.pageLastItem + 1}/#{cardController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cardController.previous}" value="#{bundle.Previous} #{cardController.pagination.pageSize}" rendered="#{cardController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cardController.next}" value="#{bundle.Next} #{cardController.pagination.pageSize}" rendered="#{cardController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cardController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_cardId}"/>
                            </f:facet>
                            <h:outputText value="#{item.cardId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_cardNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.cardNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_createdDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_activatedDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.activatedDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_primarySecondaryFlag}"/>
                            </f:facet>
                            <h:outputText value="#{item.primarySecondaryFlag}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_expiryDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.expiryDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardTitle_availableBalance}"/>
                            </f:facet>
                            <h:outputText value="#{item.availableBalance}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cardController.prepareView}" value="#{bundle.ListCardViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cardController.prepareEdit}" value="#{bundle.ListCardEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cardController.destroy}" value="#{bundle.ListCardDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cardController.prepareCreate}" value="#{bundle.ListCardCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCardIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
