<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCardTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCardLabel_cardId}"/>
                    <h:outputText value="#{cardController.selected.cardId}" title="#{bundle.ViewCardTitle_cardId}"/>
                    <h:outputText value="#{bundle.ViewCardLabel_cardNumber}"/>
                    <h:outputText value="#{cardController.selected.cardNumber}" title="#{bundle.ViewCardTitle_cardNumber}"/>
                    <h:outputText value="#{bundle.ViewCardLabel_status}"/>
                    <h:outputText value="#{cardController.selected.status}" title="#{bundle.ViewCardTitle_status}"/>
                    <h:outputText value="#{bundle.ViewCardLabel_createdDate}"/>
                    <h:outputText value="#{cardController.selected.createdDate}" title="#{bundle.ViewCardTitle_createdDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCardLabel_activatedDate}"/>
                    <h:outputText value="#{cardController.selected.activatedDate}" title="#{bundle.ViewCardTitle_activatedDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCardLabel_primarySecondaryFlag}"/>
                    <h:outputText value="#{cardController.selected.primarySecondaryFlag}" title="#{bundle.ViewCardTitle_primarySecondaryFlag}"/>
                    <h:outputText value="#{bundle.ViewCardLabel_expiryDate}"/>
                    <h:outputText value="#{cardController.selected.expiryDate}" title="#{bundle.ViewCardTitle_expiryDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCardLabel_availableBalance}"/>
                    <h:outputText value="#{cardController.selected.availableBalance}" title="#{bundle.ViewCardTitle_availableBalance}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cardController.destroyAndView}" value="#{bundle.ViewCardDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCardEditLink}"/>
                <br />
                <h:commandLink action="#{cardController.prepareCreate}" value="#{bundle.ViewCardCreateLink}" />
                <br />
                <h:commandLink action="#{cardController.prepareList}" value="#{bundle.ViewCardShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCardIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
