<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCardHolderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                  
                    <h:outputLabel value="#{bundle.CreateCardHolderLabel_title}" for="title" />
                    <h:inputText id="title" value="#{cardHolderController.selected.title}" title="#{bundle.CreateCardHolderTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateCardHolderLabel_name}" for="name" />
                    <h:inputText id="name" value="#{cardHolderController.selected.name}" title="#{bundle.CreateCardHolderTitle_name}" />
                    <h:outputLabel value="#{bundle.CreateCardHolderLabel_surname}" for="surname" />
                    <h:inputText id="surname" value="#{cardHolderController.selected.surname}" title="#{bundle.CreateCardHolderTitle_surname}" />
                    <h:outputLabel value="#{bundle.CreateCardHolderLabel_dateOfBirth}" for="dateOfBirth" />
                    <h:inputText id="dateOfBirth" value="#{cardHolderController.selected.dateOfBirth}" title="#{bundle.CreateCardHolderTitle_dateOfBirth}" />
                    <h:outputLabel value="#{bundle.CreateCardHolderLabel_govid}" for="govid" />
                    <h:inputText id="govid" value="#{cardHolderController.selected.govid}" title="#{bundle.CreateCardHolderTitle_govid}" required="true" requiredMessage="#{bundle.CreateCardHolderRequiredMessage_govid}"/>
                    
                    
                    
                    <h:outputLabel value="Primary Card" for="primaryCardId" />
                     <h:selectOneMenu value="#{cardHolderController.selected.primaryCardId}" required="true" requiredMessage="Primary Card must be set">
   			<f:selectItems value="#{cardHolderController.getAvailablePrimaryCards()}" />
                    </h:selectOneMenu>
                    
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cardHolderController.create}" value="#{bundle.CreateCardHolderSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{cardHolderController.prepareList}" value="#{bundle.CreateCardHolderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCardHolderIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
