<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCardHolderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_primaryCardId}" for="primaryCardId" />
                    <h:inputText id="primaryCardId" value="#{cardHolderController.selected.primaryCardId}" title="#{bundle.EditCardHolderTitle_primaryCardId}" />
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_title}" for="title" />
                    <h:inputText id="title" value="#{cardHolderController.selected.title}" title="#{bundle.EditCardHolderTitle_title}" />
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_name}" for="name" />
                    <h:inputText id="name" value="#{cardHolderController.selected.name}" title="#{bundle.EditCardHolderTitle_name}" />
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_surname}" for="surname" />
                    <h:inputText id="surname" value="#{cardHolderController.selected.surname}" title="#{bundle.EditCardHolderTitle_surname}" />
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_dateOfBirth}" for="dateOfBirth" />
                    <h:inputText id="dateOfBirth" value="#{cardHolderController.selected.dateOfBirth}" title="#{bundle.EditCardHolderTitle_dateOfBirth}" />
                    <h:outputLabel value="#{bundle.EditCardHolderLabel_govid}" for="govid" />
                    <h:inputText id="govid" value="#{cardHolderController.selected.govid}" title="#{bundle.EditCardHolderTitle_govid}" required="true" requiredMessage="#{bundle.EditCardHolderRequiredMessage_govid}"/>
                </h:panelGrid>
                <h:commandLink action="#{cardHolderController.update}" value="#{bundle.EditCardHolderSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCardHolderViewLink}"/>
                <br />
                <h:commandLink action="#{cardHolderController.prepareList}" value="#{bundle.EditCardHolderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCardHolderIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
