<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCardHolderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCardHolderEmpty}" rendered="#{cardHolderController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cardHolderController.items.rowCount > 0}">
                    <h:outputText value="#{cardHolderController.pagination.pageFirstItem + 1}..#{cardHolderController.pagination.pageLastItem + 1}/#{cardHolderController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cardHolderController.previous}" value="#{bundle.Previous} #{cardHolderController.pagination.pageSize}" rendered="#{cardHolderController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cardHolderController.next}" value="#{bundle.Next} #{cardHolderController.pagination.pageSize}" rendered="#{cardHolderController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cardHolderController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_primaryCardId}"/>
                            </f:facet>
                            <h:outputText value="#{item.primaryCardId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_surname}"/>
                            </f:facet>
                            <h:outputText value="#{item.surname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_dateOfBirth}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateOfBirth}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCardHolderTitle_govid}"/>
                            </f:facet>
                            <h:outputText value="#{item.govid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cardHolderController.prepareView}" value="#{bundle.ListCardHolderViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cardHolderController.prepareEdit}" value="#{bundle.ListCardHolderEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cardHolderController.destroy}" value="#{bundle.ListCardHolderDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cardHolderController.prepareCreate}" value="#{bundle.ListCardHolderCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCardHolderIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
