<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCardHolderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCardHolderLabel_primaryCardId}"/>
                    <h:outputText value="#{cardHolderController.selected.primaryCardId}" title="#{bundle.ViewCardHolderTitle_primaryCardId}"/>
                    <h:outputText value="#{bundle.ViewCardHolderLabel_title}"/>
                    <h:outputText value="#{cardHolderController.selected.title}" title="#{bundle.ViewCardHolderTitle_title}"/>
                    <h:outputText value="#{bundle.ViewCardHolderLabel_name}"/>
                    <h:outputText value="#{cardHolderController.selected.name}" title="#{bundle.ViewCardHolderTitle_name}"/>
                    <h:outputText value="#{bundle.ViewCardHolderLabel_surname}"/>
                    <h:outputText value="#{cardHolderController.selected.surname}" title="#{bundle.ViewCardHolderTitle_surname}"/>
                    <h:outputText value="#{bundle.ViewCardHolderLabel_dateOfBirth}"/>
                    <h:outputText value="#{cardHolderController.selected.dateOfBirth}" title="#{bundle.ViewCardHolderTitle_dateOfBirth}"/>
                    <h:outputText value="#{bundle.ViewCardHolderLabel_govid}"/>
                    <h:outputText value="#{cardHolderController.selected.govid}" title="#{bundle.ViewCardHolderTitle_govid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cardHolderController.destroyAndView}" value="#{bundle.ViewCardHolderDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCardHolderEditLink}"/>
                <br />
                <h:commandLink action="#{cardHolderController.prepareCreate}" value="#{bundle.ViewCardHolderCreateLink}" />
                <br />
                <h:commandLink action="#{cardHolderController.prepareList}" value="#{bundle.ViewCardHolderShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCardHolderIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
