<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Customer Card Management System</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>
        Customer Card Management System   
        <h:form>
            <h:commandLink action="/cardHolder/Create" value="1.Create card holder"/>
        </h:form>
        <h:form>
            <h:commandLink action="/cardHolder/List" value="2.Display Card Holders"/>
        </h:form>
        <h:form>
            <h:commandLink action="/card/List" value="2.Display Cards"/>
        </h:form>
        <h:form>
            <h:commandLink action="/card/Create" value="2.Create Cards"/>
        </h:form>
        <br />
        <h:link outcome="/card/List" value="Show All Card Items"/>
        <br />
        <h:link outcome="/cardHolder/List" value="Show All CardHolder Items"/>
    </h:body>


</html>

